    @model TechXpress.Data.Entities.Order

    @{
        ViewData["Title"] = "Order Confirmation";
    }

    <div class="container mt-5 text-center">
        <div class="alert alert-success p-4 rounded shadow-sm">
            <h2 class="mb-3">Thank you for your order! 🎉</h2>
            <p class="lead">Your order has been placed successfully.</p>
            <hr />
            <h4>Order Summary</h4>
            <p><strong>Order ID:</strong> @Model.Id</p>
            <p><strong>Date:</strong> @Model.OrderDate.ToString("f")</p>
            <p><strong>Total:</strong> @Model.Items.Sum(i => i.Product.Price * i.Quantity).ToString("C")</p>
        @if (Model.PaymentMethod == TechXpress.Data.Enums.PaymentMethod.Stripe)
        {
            <p><strong>Payment Method:</strong>Strip</p>
        }
        else
        {
            <p><strong>Payment Method:</strong>Cash on Delevary</p>
        }
             <p><strong>Delivery to Address:</strong> @Model.User.Address.Country - @Model.User.Address.State - @Model.User.Address.City - @Model.User.Address.Street </p>
            <hr />
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Back to Home</a>
        </div>
    </div>
